<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project 2</title>

    {{!-- UI KIT  --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit-icons.min.js"></script>

    {{!-- jquery --}}
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

    {{!-- Font Type  --}}
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;800;900&display=swap"
        rel="stylesheet">


</head>

<body>
    <div>
        {{{ body }}}
    </div>
</body>

    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/user.js"></script>
    <script src="/assets/js/breeder.js"></script>
    <script src="/assets/js/addShelter.js"></script>
</html>