    <div class="uk-container">
        <form>
            <h2>Add or select a Shelter</h2>

            <label>Shelter Name:</label>
            <input class="uk-input" id="shelter-name"></input>

            <label>Shelter City:</label>
            <input class="uk-input" id="city-name"></input>

            <label>Dog Name:</label>
            <input class="uk-input" id="dog-name"></input>

            <label>Dog Breed:</label>
            <input class="uk-input" id="dog-breed"></input>

            <button class="uk-button uk-button-primary" id="add-submit">Submit</button>
        </form>
    </div>