<nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
    <div class="uk-navbar-left">
        <img src="/assets/images/logo-nav.png" id="nav-logo" width="50" height="50">
        <ul class="uk-navbar-nav">
        <li id="navbrand">Shelter Helper</li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="/adopt">Adopt</a></li>
            <li><a href="/shelterHelper/home">Shelter</a></li>
            <li><a href="/add">Add Shelter</a></li>
        </ul>
    </div>
</nav> 

<div class="uk-container">
    <h1 class="title">Dog Breed Data in Different Cities</h1>
    <h4 class="sub-text breeder-text">Search for the data based on either breed or location.</h4>
    <p class="center">
    <button class="uk-button uk-button-primary" id="byBreed">Breed</button>
    <button class="uk-button uk-button-primary" id="byCity">City</button>
    </p>
    {{!-- <button class="uk-button uk-button-primary" id="add-shelter">Add Shelter/Dog</button> --}}
   
  
</div>

{{!-- IF SORTED BY BREED --}}
<div id="breed">
    <div class="uk-container">
     <form>
            <div class="uk-margin">
                <label>Choose a Breed:</label>
                <select class="uk-select cap" id="pickBreed">
                    {{#each dog}}
                    <option class="cap">{{this.breed}}</option>
                    {{/each}}
                </select>
            </div>
            <button class="uk-button uk-button-primary" id="searchBreed">Search</button>
        </form>
    </div>

    <div id="breed-table">
        <div class="uk-container">
            <table class="uk-table uk-table-divider">
                <thead>
                    <tr>
                        <th class="table-title">City</th>
                        <th class="table-title">Count</th>
                    </tr>
                </thead>
                <tbody id="breedTable">
                </tbody>
            </table>
        </div>
    </div>
</div>


{{!-- IF SORTED BY CITY --}}
<div id="city">
    <div class="uk-container">
        <form>
            <div class="uk-margin">
                <label>Choose a City:</label>
                <select class="uk-select cap" id="pickCity">
                    {{#each location}}
                    <option class="cap">{{this.city}}</option>
                    {{/each}}
                </select>
            </div>
            <button class="uk-button uk-button-primary" id="searchCity">Search</button>
        </form>
    </div>

    <div id="city-table">
        <div class="uk-container">
            <table class="uk-table uk-table-divider">
                <thead>
                    <tr>
                        <th class="table-title">Breed</th>
                        <th class="table-title">Count</th>
                    </tr>
                </thead>
                <tbody id="cityTable">
                </tbody>
            </table>
        </div>
    </div>
</div>