    <div class="uk-container">

        <h2>Shelter Helper</h2>

        <form>
            <div class="uk-margin">
                <label>Breed:</label>
                <select class="uk-select">
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </div>

            <div class="uk-margin">
                <label>City:</label>
                <select class="uk-select">
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </div>
        </form>
        
    </div>