<h2>Shelter Helper</h2>

<div class="uk-container">
    <form>
        {{#each result}}
        <div class="uk-margin">
            <label>Breed:</label>
            <select class="uk-select select-breed">
                <option>{{this.breed}}</option>
            </select>
        </div>
        {{/each}}

        {{#each result}}
        <div class="uk-margin select-location">
            <label>City:</label>
            <select class="uk-select">
                <option>{{this.city}}</option>
            </select>
        </div>
        {{/each}}
    </form>
</div>