<h1>Shelter Helper</h1>

<button class="uk-button uk-button-default uk-button-large" id="goAdopt">Adopt Dog</button>
<button class="uk-button uk-button-default uk-button-large" id="helpShelter">Shelter Help</button>