<style>
    html {
        background: #F7DC95;
    }
</style>

<div class="uk-inline uk-position-bottom web">
    <img src="/assets/images/landing1-01.png" alt="" id="shelter-background">
</div>

<header>
    <div class="mobile">
        <img src="/assets/images/logo-nav.png" alt="" id="mobile-img" width="120">
    </div>
</header>

<div class="uk-container">
<div class="uk-position-center-left main-text">
<h1 id="landing-title">Welcome to Shelter Helper.</h1>
<h3 id="landing-text">A place where you can find the perfect breed and relevant adoption centers.</h3>
<button class="uk-button uk-button-default uk-button-large" id="goAdopt">Adopt Dog</button>
<button class="uk-button uk-button-default uk-button-large" id="helpShelter">Shelter Help</button>
</div>
</div>



