<div class="uk-container">

    <form>
        <h2>Find Your Breed:</h2>

        <label>Drop Label</label>
        <select class="uk-select">
            <option></option>
            <option></option>
        </select>

        <label>Location: (City, St)</label>
        <textarea class="uk-textarea" id="city-location"></textarea>

        <label><input class="uk-radio" type="radio">Label</label>
        <label><input class="uk-checkbox" type="checkbox">Label</label>
        <label><input class="uk-range" type="range">Slide</label>
        
        <button class="uk-button uk-button-primary" id="find-breed">Submit</button>
    </form>

    <hr>

    <div id="sugBreed">
        <h3>Suggested Breeds:</h3>
        <ul class="uk-list uk-list-divider">
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
        </ul>
    </div>

</div>