.cap {
    text-transform: capitalize;
}

/* CONSISTENT STYLE */
.uk-button {
    font-family: 'Noto Sans', sans-serif;
    background-color: #4C8492;
    font-size: 17px;
    color: white;
    text-transform: capitalize;
    border-color: #4C8492;
    border-radius: 8px;
}

.title {
    font-family: 'Jost', sans-serif;
}

*+h3, .sub-text{
    font-family: 'Noto Sans', sans-serif;
    margin-top: -11px;
}

/* NAVBAR */
.uk-navbar-nav>li>a {
    color: black;
    font-family: 'Noto Sans', sans-serif;
    text-transform: capitalize;
    transition: .1s ease-in-out;
    transition-property: color,background-color;
}

.uk-navbar-nav>li>a:hover{
    color:#4C8492;
}

.uk-navbar-container {
    padding-right: 3rem;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #F7DC95;
}

#navbrand {
    font-family: 'Jost', sans-serif;
    color: #4C8492;
    font-size: 20px !important;
    padding-left: 1rem;
}

#nav-logo {
    margin-left: 1rem;
    padding-left: 0.8rem;
}

/* INDEX HANDLEBAR */
#landing-title {
    font-family: 'Jost', sans-serif;
}

#shelter-background {
    width: 100%;

}

.main-text {
    padding-left: 4rem;
}

*+h3, #landing-text {
    font-family: 'Noto Sans', sans-serif;
    margin-top: -11px;
}

#goAdopt, #helpShelter {
    margin-top: 2rem;
}

#goAdopt:hover, #helpShelter:hover {
    background-color: white;
    border-color: white;
    color: #4C8492;
}

#helpShelter {
    margin-left: 1rem;
}

.mobile {
    display: none;
    padding-top: 2rem;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .mobile {
      display: block;
    }
    .web {
        display: none;
      }
  }